.point {
  stroke: #115a8c;
  stroke-width: 1px;
  fill: #6ea5c0;
}

.point:hover,
.point:focus {
  fill: #115a8c;
  cursor: pointer;
}

.pointWithoutCoordination {
  stroke: #808080;
  stroke-width: 1px;
  fill: #a8a8a8;
}

.pointLabelLeft {
  text-anchor: end;
}

.pointLabelRight {
  text-anchor: start;
}
